<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <h2><%= details.name %></h2>
    <img src="<%= details.image %>"></img>
    <div id="details">
      <h4>Ready In: <%= details.time %> minutes</h4>
      <h4>Serves: <%= details.servings %></h4>
    </div>
    <section id="recipe-ingredients">
      <h4>Ingredients:</h4>
      <% details.ingredients.forEach(ingr => { %>
        <h5><%= ingr.measures.us.amount %> <%= ingr.measures.us.unitShort %> (<%= ingr.measures.metric.amount %> <%= ingr.measures.metric.amount %>) <%= ingr.name %></h5>
      <% }) %>
    </section>
    <section id="recipe-instructions">
      <h4>Preparation Instructions:</h4>
      <% details.steps.forEach(step => { %>
        <h5>Step <%= step.number %></h5>
        <p><%= step.step %></p>
      <% }) %>
    </section>
  </body>
</html>