<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <h2 id="pageTitle">Saved Recipes</h2>
      <% if (!savedResults) { %>
        <h3>No Saved Recipes</h3>
        <a href="/random"><h5>Click Here to see a random recipe!</h5></a>
      <% } %>
      <% if (savedResults) { %>
        <% savedResults.forEach(result => { %>
          <a href="/recipe/<%= result.recipe_id %>"><section id= "results" recipe_id="<%= result.recipe_id %>" class="search_recipe">
            <img src="<%= result.image %>"/>
            <h3> <%= result.name %> </h3> 
            <h5> Cook Time: <%= result.time  %> minutes</h5>
            <p> Serves <%= result.servings  %> </p>
            <button class="selectButton">More Details</button>
            
          </section></a>
        <% }) %>
      <% } %>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</html>